.container {
    height: 450px;
    margin: auto;
    margin-top:50px;
    align-items: center;
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
}




button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 5px;
    font-size: 16px;
}








 .uplod {
    height: 600px;
    margin: auto;
    margin-top: 70px;
    align-items: center;
    width: 45%;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;

}

h2 {
    text-align: center;
}  

